<h3> Assignment 1 </h3>
<div class="container">
  <div class="row">
    <div class="pull-right">
      How many row would yo like to display:
      <select [(ngModel)]="countUserPage" (change)="onChange()">
        <option *ngFor="let user of users; let i=index">{{i+1}}</option>
      </select>
      <div class="pull-right">
        Search by user progress : <input type="text" class="form-control" [(ngModel)]="Searchprogress" placeholder="User Progress">
        Search by user name : <input type="text" class="form-control" [(ngModel)]="Searchname" placeholder="User name">
      </div>
      <div class="pull-left">
        How you would like order?
        <select [(ngModel)]="order">
          <option>name</option>
          <option>id</option>
          <option>progress</option>
          <option>color</option>
        </select>
      </div>

     <div class="col-xs-12">
        <input type="checkbox" [(ngModel)]="pass">Only users name star with letter M
      </div>
      <table>
        <tr>
          <th style="cursor: pointer;" (click)="onOrderBy('id')"> Id </th>
          <th style="cursor: pointer;" (click)="onOrderBy('name')"> Name </th>
          <th style="cursor: pointer;" (click)="onOrderBy('progress')"> Progress </th>
          <th style="cursor: pointer;" (click)="onOrderBy('color')"> Color </th>
        </tr>
        <tr >
          <td>  <input type="text" class="form-control" [(ngModel)]="searchById" placeholder="Search by Id"> </td>
          <td>  <input type="text" class="form-control" [(ngModel)]="Searchname" placeholder="Search by Name"> </td>
          <td>  <input type="text" class="form-control" [(ngModel)]="Searchprogress" placeholder="Search by Progress"> </td>
          <td>  <input type="text" class="form-control" [(ngModel)]="searchByColor" placeholder="Search by Color"> </td>
        </tr>

        <tr *ngFor="let user of users | slice :startFromUser:endOnUser | orderBy: order | searchUserBy: 'id' : searchById | searchUserBy: 'name' : Searchname | searchUserBy: 'progress' : Searchprogress | searchUserBy: 'color' : searchByColor | usersWithM: pass ">
          <td> {{user.id}}</td>
          <td> {{user.name}}</td>
          <td> {{user.progress}}</td>
          <td [ngStyle]="{color : user.color}"> {{user.color}}</td>
        </tr>
      </table>

      <ul class="pagination pull-right">
          <li [ngClass]="{'disabled':activePage==0}">
            <a [ngClass]="{'disabled':activePage==0}"
              (click)="onPageClick(0)">First</a>
            </li>
          <li [ngClass]="{'disabled':activePage==0}">
            <a [ngClass]="{'disabled':activePage==0}"
              (click)="onPageClick(activePage - 1)">Previous</a>
            </li>
          <li [ngClass]="{'active': page==activePage}" *ngFor="let page of pages">
            <a (click)="onPageClick(page)">Page
              {{page + 1}}
              <!-- pages = users.length/ empInde    -->
            </a>
          </li>
          <li [ngClass]="{'disabled':activePage==pages.length-1}">
            <a [ngClass]="{'disabled':activePage==pages.length-1}"
              (click)="onPageClick(activePage + 1)">Next</a>
            </li>
          <li [ngClass]="{'disabled':activePage==pages.length-1}">
            <a [ngClass]="{'disabled':activePage==pages.length-1}"
              (click)="onPageClick(pages.length-1)">Last</a>
            </li>
        </ul>
    </div>

  </div>
  <div class="row">
      <span class="col-md-6">
          <app-ball  *ngFor="let ball of rigthBalls" [ball]="ball" (delete)="onMoveRightToLeft($event)" > {{ball}}</app-ball>
      </span>
      <span class="col-md-6 pull-right">
          <app-ball *ngFor="let ball of leftBalls" [ball]="ball" (delete)="onMoveLeftToRight($event)" > {{ball}}</app-ball>
      </span>
  </div>
</div>